<h1>Shishalicious-Oakville</h1>
<section class="section-one">
  <div class="container d-flex justify-content-center">
    <table
      class="table table-hover"
      style="overflow: auto; background: white; width: 80%"
    >
      <thead>
        <tr>
          <th>name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of user">
          <td>{{ item.name }}</td>
          <td>
            <button class="btn btn-info m-2" (click)="viweUser(item.id,item.name)">
              view
            </button>

            <button class="btn btn-danger m-2" *ngIf="item.name !='admin'" (click)="DeledtUser(item.id)">
              Delete
            </button>
          </td>


        </tr>
      </tbody>
    </table>
  </div>

  <button class="home-button" routerLink="/">Home</button>
</section>
