
<section class="section-one">
  <div class="container">
    <h1>Shishalicious-Oakville</h1>
    <p>SIGN IN in Shishalicious-Oakville</p>
    <form
      class="row d-flex justify-content-center"
      [formGroup]="logInForm"
      (ngSubmit)="onLogin()"
    >
      <div class="col-4">

        <div class="form-group mt-2">
          <input type="text" formControlName="username" placeholder="email" class="form-control" />
        </div>
      </div>
      <span *ngIf="notLogIn">this email in not Regester</span>
      <div class="form-group mt-2">
        <button class="btn btn-primary ml-2">login</button>
        <button class="btn btn-primary" routerLink="/">Home</button>

      </div>
    </form>
  </div>

</section>
