
<section class="section-one">
  <div class="container d-flex justify-content-center">


<form
class="row d-flex justify-content-center"
[formGroup]="adminForm"
(ngSubmit)="onSubmit()"
>
<div class="col">
  <div class="form-group mt-2">
    <input
    type="date"
    formControlName="startDate"
      placeholder="startDate"
      class="form-control"
    />
  </div>
  <div class="form-group mt-2">
    <input
      type="date"
      formControlName="endDate"
      placeholder="endDate"
      class="form-control"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-2">Calculat</button>

  </div>
  <div class="mt-2 ">
    <p>total Hours For All Users Inweek : {{ Total_Hours_For_All_UserInweek }}</p>
    <p>total Hours price For All Users Inweek : {{ Total_Hours_Price_For_All_UserInweek }}</p>
  </div>

  </form>


  </div>
  <button class="home-button mt-2" routerLink="/">Home</button>
</section>
